<% if user_signed_in? %>
  <div class = "mynav user">Welcome, <b class="mynav user-email"><%= current_user.email %></b> Guru |
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  </div>
<% end %>