.mynav.user{
  text-align: right;
}

.mynav.user-email{
  border-bottom: 1px solid #3c85e0;
}

.mynav.nav-admin{
  padding: 15px;
  line-height: 35px;
  color: #ffffff;
  background-color: #4293e6;
  margin-bottom: 40px;
}

.mynav-admin.title {
  font-size: 140%;
  font-weight: bold;
}

.mynav-admin.user{
  float: right;
}

.mynav-admin.user-email {
  text-decoration: underline;
}

.mynav.nav-admin
a {
  color: #ffffff;
}

.mynav.sign{
  text-align: center;
}

.begin{
  text-align: center;
}
