<footer class='footer'>
<%= current_year%> <%= author_name%> <%= github_url(author_git, repo)%>
<p>Приложение TestGuru предназначено для создания, управления и выполнения различных тестов.</p>
<%= thinknetica%>
</footer>